@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

#app {
    position: relative;
}

#overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#text-box {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;

    font-family: "Nunito", Arial, sans-serif;
    font-size: 1.5rem;
    margin: 2rem;
    background: linear-gradient(90deg, #00000000 0, #000000dd 5% 95%, #00000000 100%);
}

#text-box p {
    max-width: 960px;
    margin: 1em auto;

    color: white;
}

